<div fxFlex="100" fxLayout="column">
    <div fxLayout="row">
        <div fxFlex="50">
            <usa-map></usa-map>
        </div>
        <div fxFlex="50">
            <pcp-plot></pcp-plot>
        </div>
        <!-- <div fxFlex="34">
            <pca-bi-plot></pca-bi-plot>
        </div> -->
    </div>
    <div fxLayout="row">
        <div fxFlex="33">
            <multi-line-plot></multi-line-plot>
        </div>
        <div fxFlex="33">
            <sunburst-plot></sunburst-plot>
        </div>
        <div fxFlex="34">
            <stacked-bar-chart></stacked-bar-chart>
        </div>
    </div>
</div>