<div fxFlex="100" fxLayout="column" style="background-color: #f2f2f2;">
    <div fxLayout="row">
        <mat-card fxFlex="50">
            <mat-card-title fxLayoutAlign="center">Size Proportional Map of USA Colleges offering Graduate Courses (2021)</mat-card-title>
            <usa-map></usa-map>
        </mat-card>
        <mat-card fxFlex="50">
            <mat-card-title fxLayoutAlign="center">Parallel Coordinates Plot for Average College Statistics (2017-2021)</mat-card-title>
            <pcp-plot></pcp-plot>
        </mat-card>
    </div>
    <div fxLayout="row">
        <mat-card fxFlex="33">
            <multi-line-plot></multi-line-plot>
        </mat-card>
        <mat-card fxFlex="33">
            <sunburst-plot></sunburst-plot>
        </mat-card>
        <mat-card fxFlex="34">
            <mat-card-title fxLayoutAlign="center">Average Admission Statistics (2017 - 2021)</mat-card-title>
            <stacked-bar-chart></stacked-bar-chart>
        </mat-card>
    </div>
</div>