// Override the background color of the nav bar to purple
.mat-toolbar-center {
    background-color: #614a7d;
    height: 40px;
}

h3 {
    margin: 0 0 0 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}